<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>自动化工具</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.css">
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/bootstrap.js"></script>
</head>
<body>
<!--引入navigation.html中的模板-->
<div th:insert="~{navigation::nav}"></div>
<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <div class="caption">
                <h3>IP代理池</h3>
                <p>该功能用于更新维护数据库中的代理IP相关信息。点击进入后，后台服务自动更新数据库中的代理信息。
                    但是由于免费代理质量太差，而我只定时爬取90个IP，所以可能打印的结果为0。</p>
                <p><a href="/ipProxyPool" class="btn btn-primary" role="button">点击进入</a></p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <div class="caption">
                <h3>通用漏洞扫描</h3>
                <p>该功能用于扫描通用型漏洞，内含多个通用漏洞扫描模块（更新中）</p>
                <p><a href="/singleScan" class="btn btn-primary" role="button">点击进入</a></p>
            </div>
        </div>
    </div>
</div>
<!--Author:Vulner-6    Github:https://github.com/Vulner-6 -->
</body>
</html>